<!DOCTYPE html>
<html>
  <head>
    <title>LolCosplay</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class="jumbotron">
  	<h2>
  		LoLCosplay
  	</h2>
  	Hello. Welcome to LoLCosplay, a League of Legends cosplay resource site.
    </div>
  </body>
</html>
